
    <!-- Footer theme -->
    <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0"
        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top">
        <tr class="gmail-fix" height="0">
            <td style="padding:0;Margin:0">
                <table cellpadding="0" cellspacing="0" border="0" align="center"
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;width:600px">
                    <tr>
                        <td cellpadding="0" cellspacing="0" border="0" height="0"
                            style="padding:0;Margin:0;line-height:1px;min-width:600px"><img
                                src="https://jkhjpi.stripocdn.email/content/guids/CABINET_837dc1d79e3a5eca5eb1609bfe9fd374/images/41521605538834349.png"
                                width="600" height="1"
                                style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;max-height:0px;min-height:0px;min-width:600px;width:600px"
                                alt></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" style="padding:0;Margin:0">
                <table class="es-content" cellspacing="0" cellpadding="0" align="center"
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:50%">
                    <tr>
                        <td align="center" style="padding:0;Margin:0">
                            <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                align="center"
                                style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr>
                                    <td align="left"
                                        style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px">
                                        <table cellpadding="0" cellspacing="0" width="100%"
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr>
                                                <td align="center" valign="top" style="padding:0;Margin:0;width:560px">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td align="center" style="padding:0;Margin:0;display:none">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;background-color:#101828"
                                        bgcolor="#101828" align="left">
                                        <table cellspacing="0" cellpadding="0" width="100%"
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                            <tr>
                                                <td valign="top" align="center" style="padding:0;Margin:0;width:560px">
                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                        role="presentation"
                                                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td align="left" style="padding:0;Margin:0;padding-top:5px">
                                                                <p
                                                                    style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#efefef;font-size:14px">
                                                                    This email was sent to joseph.chimezie@bitpowr.com.
                                                                    If you'd rather not receive this kind of email, you
                                                                    can <u>unsubscribe</u> or <u>manage your email
                                                                        preferences</u>.<br><br>© 2022 Bitpowr
                                                                    Technologies, LLC, 100 London Street, Wilmington,
                                                                    Delaware</p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="left" style="padding:0;Margin:0;padding-top:5px">
                                                                <p
                                                                    style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#efefef;font-size:14px">
                                                                    <br><br>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" bgcolor="#101828"
                                        style="padding:0;Margin:0;background-color:#101828">
                                        <!--[if mso]><table style="width:600px" cellpadding="0" cellspacing="0"><tr><td style="width:290px" valign="top"><![endif]-->
                                        <table class="w-sm-50" cellpadding="0" cellspacing="0" class="es-left"
                                            align="left"
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                                            <tr>
                                                <td class="es-m-p20b" align="left"
                                                    style="padding:0;Margin:0;width:290px">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation"
                                                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td align="left"
                                                                style="padding:0;Margin:0;padding-left:20px;font-size:0px">
                                                                <img class="adapt-img logo"
                                                                    src="https://jkhjpi.stripocdn.email/content/guids/CABINET_887df75d41095d693cac15de76d3e86c/images/frame_22.png"
                                                                    alt
                                                                    style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                                    width="88">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--[if mso]></td><td style="width:20px"></td><td style="width:290px" valign="top"><![endif]-->
                                        <table class="w-sm-50" cellpadding="0" cellspacing="0" class="es-right"
                                            align="right"
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right">
                                            <tr>
                                                <td align="left" style="padding:0;Margin:0;width:290px">
                                                    <table cellpadding="0" cellspacing="0" width="100%"
                                                        role="presentation"
                                                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td align="right" class="es-m-p20b"
                                                                style="padding:0;Margin:0;padding-right:25px;padding-bottom:30px;font-size:0px">
                                                                <table class="es-table-not-adapt es-social"
                                                                    cellspacing="0" cellpadding="0" role="presentation"
                                                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                                    <tr>
                                                                        <td valign="top" align="center"
                                                                            style="padding:0;Margin:0;padding-right:15px">
                                                                            <img title="Facebook"
                                                                                src="https://jkhjpi.stripocdn.email/content/guids/CABINET_887df75d41095d693cac15de76d3e86c/images/vector.png"
                                                                                alt="Fb" height="20"
                                                                                style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic">
                                                                        </td>
                                                                        <td valign="top" align="center"
                                                                            style="padding:0;Margin:0;padding-right:15px">
                                                                            <img title="Twitter"
                                                                                src="https://jkhjpi.stripocdn.email/content/guids/CABINET_887df75d41095d693cac15de76d3e86c/images/social_icon.png"
                                                                                alt="Tw" height="20"
                                                                                style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic">
                                                                        </td>
                                                                        <td valign="top" align="center"
                                                                            style="padding:0;Margin:0"><img
                                                                                title="Instagram"
                                                                                src="https://jkhjpi.stripocdn.email/content/guids/CABINET_887df75d41095d693cac15de76d3e86c/images/social_icon_CUT.png"
                                                                                alt="Inst" height="20"
                                                                                style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--[if mso]></td></tr></table><![endif]-->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="es-footer" cellspacing="0" cellpadding="0" align="center"
                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:50%;background-color:transparent;background-repeat:repeat;background-position:center top">
                    <tr>
                        <td align="center" style="padding:0;Margin:0">
                            <table class="es-footer-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
                                align="center"
                                style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
                                <tr>
                                    <td align="left"
                                        style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">
                                        <!--[if mso]><table style="width:560px" cellpadding="0" 
                     cellspacing="0"><tr><td style="width:270px" valign="top"><![endif]-->
                                        <table class="es-left" cellspacing="0" cellpadding="0" align="left"
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                                            <tr>
                                                <td class="es-m-p20b" align="left"
                                                    style="padding:0;Margin:0;width:270px">
                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td style="padding:0;Margin:0;display:none" align="center">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--[if mso]></td><td style="width:20px"></td><td style="width:270px" valign="top"><![endif]-->
                                        <table class="es-right" cellspacing="0" cellpadding="0" align="right"
                                            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right">
                                            <tr>
                                                <td align="left" style="padding:0;Margin:0;width:270px">
                                                    <table width="100%" cellspacing="0" cellpadding="0"
                                                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                                        <tr>
                                                            <td style="padding:0;Margin:0;display:none" align="center">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--[if mso]></td></tr></table><![endif]-->
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>