<table class="es-header" cellspacing="0" cellpadding="0" align="center"
style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top">
<tr>
    <td align="center" style="padding:0;Margin:0">
        <table class="es-header-body" cellspacing="0" cellpadding="0" bgcolor="#ffffff"
            align="center"
            style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;width:600px">
            <tr>
                <td align="left"
                    style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px">
                    <table cellspacing="0" cellpadding="0" width="100%"
                        style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                        <tr>
                            <td class="es-m-p0r" valign="top" align="center"
                                style="padding:0;Margin:0;width:560px">
                                <table width="100%" cellspacing="0" cellpadding="0"
                                    role="presentation"
                                    style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                                    <tr>
                                        <td align="center"
                                            style="padding:0;Margin:0;font-size:0px"><img
                                                class="adapt-img logo py16"
                                                src="https://jkhjpi.stripocdn.email/content/guids/CABINET_fad6fe1629f66e03a6dd6b44eb20c7c8/images/frame_22.png"
                                                alt
                                                style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"
                                                width="129"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>