<!-- Style -->
<style type="text/css">
  #outlook a {
    padding: 0;
  }

  .es-button {
    mso-style-priority: 100 !important;
    text-decoration: none !important;
  }

  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }

  .es-desk-hidden {
    display: none;
    float: left;
    overflow: hidden;
    width: 0;
    max-height: 0;
    line-height: 0;
    mso-hide: all;
  }

  [data-ogsb] .es-button {
    border-width: 0 !important;
    padding: 10px 20px 10px 20px !important;
  }
</style>


<!-- Welcome styles -->

<style type="text/css">
  #outlook a {
    padding: 0;
  }

  .es-button {
    mso-style-priority: 100 !important;
    text-decoration: none !important;
  }

  a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
  }

  .es-desk-hidden {
    display: none;
    float: left;
    overflow: hidden;
    width: 0;
    max-height: 0;
    line-height: 0;
    mso-hide: all;
  }

  [data-ogsb] .es-button {
    border-width: 0 !important;
    padding: 10px 20px 10px 20px !important;
  }

  @media only screen and (max-width:600px) {

    p,
    ul li,
    ol li,
    a {
      line-height: 150% !important
    }

    h1,
    h2,
    h3,
    h1 a,
    h2 a,
    h3 a {
      line-height: 120%
    }

    h1 {
      font-size: 30px !important;
      text-align: left
    }

    h2 {
      font-size: 24px !important;
      text-align: left
    }

    h3 {
      font-size: 20px !important;
      text-align: left
    }

    .es-header-body h1 a,
    .es-content-body h1 a,
    .es-footer-body h1 a {
      font-size: 30px !important;
      text-align: left
    }

    .es-header-body h2 a,
    .es-content-body h2 a,
    .es-footer-body h2 a {
      font-size: 24px !important;
      text-align: left
    }

    .es-header-body h3 a,
    .es-content-body h3 a,
    .es-footer-body h3 a {
      font-size: 20px !important;
      text-align: left
    }

    .es-menu td a {
      font-size: 14px !important
    }

    .es-header-body p,
    .es-header-body ul li,
    .es-header-body ol li,
    .es-header-body a {
      font-size: 14px !important
    }

    .es-content-body p,
    .es-content-body ul li,
    .es-content-body ol li,
    .es-content-body a {
      font-size: 14px !important
    }

    .es-footer-body p,
    .es-footer-body ul li,
    .es-footer-body ol li,
    .es-footer-body a {
      font-size: 14px !important
    }

    .es-infoblock p,
    .es-infoblock ul li,
    .es-infoblock ol li,
    .es-infoblock a {
      font-size: 12px !important
    }

    *[class="gmail-fix"] {
      display: none !important
    }

    .es-m-txt-c,
    .es-m-txt-c h1,
    .es-m-txt-c h2,
    .es-m-txt-c h3 {
      text-align: center !important
    }

    .es-m-txt-r,
    .es-m-txt-r h1,
    .es-m-txt-r h2,
    .es-m-txt-r h3 {
      text-align: right !important
    }

    .es-m-txt-l,
    .es-m-txt-l h1,
    .es-m-txt-l h2,
    .es-m-txt-l h3 {
      text-align: left !important
    }

    .es-m-txt-r img,
    .es-m-txt-c img,
    .es-m-txt-l img {
      display: inline !important
    }

    .es-button-border {
      display: inline-block !important
    }

    a.es-button,
    button.es-button {
      font-size: 18px !important;
      display: inline-block !important
    }

    .es-adaptive table,
    .es-left,
    .es-right {
      width: 100% !important
    }

    .es-content table,
    .es-header table,
    .es-footer table,
    .es-content,
    .es-footer,
    .es-header {
      width: 100% !important;
      max-width: 600px !important
    }



    .es-adapt-td {
      display: block !important;
      width: 100% !important
    }

    .adapt-img {
      width: 100% !important;
      max-width: 100%;
      height: auto !important
    }

    .logo {
      width: 100px !important;
    }

    .es-m-p0 {
      padding: 0px !important
    }

    .es-m-p0r {
      padding-right: 0px !important
    }

    .es-m-p0l {
      padding-left: 0px !important
    }

    .es-m-p0t {
      padding-top: 0px !important
    }

    .es-m-p0b {
      padding-bottom: 0 !important
    }

    .es-m-p20b {
      padding-bottom: 20px !important
    }

    .es-mobile-hidden,
    .es-hidden {
      display: none !important
    }

    tr.es-desk-hidden,
    td.es-desk-hidden,
    table.es-desk-hidden {
      width: auto !important;
      overflow: visible !important;
      float: none !important;
      max-height: inherit !important;
      line-height: inherit !important
    }

    tr.es-desk-hidden {
      display: table-row !important
    }

    table.es-desk-hidden {
      display: table !important
    }

    td.es-desk-menu-hidden {
      display: table-cell !important
    }

    .es-menu td {
      width: 1% !important
    }

    table.es-table-not-adapt,
    .esd-block-html table {
      width: auto !important
    }

    table.es-social {
      display: inline-block !important
    }

    table.es-social td {
      display: inline-block !important
    }

    .es-desk-hidden {
      display: table-row !important;
      width: auto !important;
      overflow: visible !important;
      max-height: inherit !important
    }

    .es-content table.w-sm-50 {
      width: 50% !important;
    }

  }


  /* My styles */
  .py16{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  .py24{
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
  .pt24{
    padding-top: 24px !important;
  }
  .pt16{
    padding-top: 16px !important;
  }
  .pb16{
    padding-bottom: 16px !important;
  }
  .pt32{
    padding-top: 32px !important;
  }
  .title {
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 32px !important;
    line-height: 44px !important;
    color: #5285F2 !important;
  }

  .title.small {
    font-size: 24px !important;
  }

  .body16 {
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #203A6E !important;
  }

  .body16.light {
    color: #3F588D !important;
  }

  .otp-container p {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    display: inline-block;
    line-height: 58px;
    text-align: center;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
    border: 1px solid #E9EEFA;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #5285F2;
    Margin-top: 24px !important;
    Margin-bottom: 24px !important
    ;
  }
</style>